.header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.image {
  height: 3.5rem;
  object-fit: cover;
}
.nav {
  display: flex;
}
.icon {
  width: 25px;
  height: 25px;
  margin-right: var(--dl-space-space-twounits);
}
.icon02 {
  width: 25px;
  height: 25px;
  margin-right: var(--dl-space-space-twounits);
}
.icon04 {
  width: 25px;
  height: 25px;
}
.burger-menu {
  display: none;
}
.icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.image1 {
  height: 2rem;
}
.close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 1200px) {
  .image {
    height: 3rem;
  }
  .burger-menu {
    display: none;
  }
}
@media(max-width: 991px) {
  .icon06 {
    display: flex;
  }
}
@media(max-width: 767px) {
  .header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .nav {
    display: none;
  }
  .burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon06 {
    width: 25px;
    height: 25px;
  }
}
@media(max-width: 479px) {
  .header {
    padding: var(--dl-space-space-unit);
  }
  .icon-group {
    display: none;
  }
  .mobile-menu {
    padding: 16px;
  }
}
